{
  "extends": [
    "react-app",
    "plugin:prettier/recommended"
  ],
  "plugins": ["prettier"],
  "rules": {
    "jsx-a11y/anchor-is-valid": 0,
    "prettier/prettier": "error",
    "no-unused-vars": [
      "warn",
      {
        "ignoreRestSiblings": true
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
